# Ignore everything in repository root 
/*
albert.conf
#
# # Files to not ignore
# !/.gitignore
#
# # Folder to not ignore
!/nvim/
!/doom/
!/starshipconfig/
!/polybar/
!/bspwm/
!/sxhkd/
!/kitty/
!.picomconf
!/tmux/
!/kitty./
# !/i3/
#!/dunst/
